<div class="reviews">
    <h3>Reviews</h3>
    <ul class="reviews-list">
        <li>
            <div class="review-header">
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <span>(4.5)</span>
                </div>
                <div class="review-date">date</div>
            </div>
            <p class="review-content">some content</p>
            <h5 class="review-writer">By: Name</h5>
        </li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>