<%- include ('./partials/__head') %>
  <body>
    <%- include ('./partials/__nav') %>
    <header class="class-header">
      <div>
        <h1>Welcome to <span>Cafe Royale</span></h1>
        <p>where we fuel your productivity.</p>
        <div class="btnn">
          <button class="btn" onclick="location.assign('/shop')">Shop now</button>
          <button class="btn invert">Get started</button>
        </div>
      </div>
      <!-- <div class="header-hero">
            <img src="/img/dishes/menu-item-6.png" width="600" alt="">
        </div> -->
    </header>
    <section class="features-section">
      <div class="feature">
        <div class="feature-icon">
          <i class="far fa-heart"></i>
        </div>
        <h4>Healthy foods</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae in
          provident eveniet culpa tempora, earum tenetur odit debitis explicabo
          magnam dolor eius eos libero sunt officia nostrum at ipsum facilis.
        </p>
      </div>
      <div class="feature">
        <div class="feature-icon">
          <i class="far fa-smile"></i>
        </div>
        <h4>Tasty foods</h4>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat ipsum
          explicabo commodi illo, labore quo voluptate accusantium pariatur sint
          vel dolores, minus recusandae laborum excepturi nesciunt molestiae cum
          et consequuntur?
        </p>
      </div>
      <div class="feature">
        <div class="feature-icon">
          <i class="fa fa-globe-africa"></i>
        </div>
        <h4>Lovely environment</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
          quaerat dolorum itaque ducimus quam, harum repellendus eum animi
          obcaecati sapiente ut placeat doloremque. Debitis, sed ut! Molestiae,
          debitis nesciunt. Accusantium.
        </p>
      </div>
    </section>
    <section class="table-section">
      <div class="table-img">
        <img src="/img/reservation.jpg" alt="" />
      </div>
      <div class="table-booking-info">
        <h2>Easy Table Booking</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
          dolorem iste facilis nobis incidunt eaque quia, aliquid velit nesciunt
          commodi suscipit in rerum impedit! Deserunt veniam quisquam a magni
          est! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum
          nihil porro in sequi illo. Quod voluptas autem reprehenderit expedita
          dolore officiis aliquam aperiam id illum cupiditate provident, nam
          similique consequatur!
        </p>

        <div class="">
          <a href="/table-booking" class="btn">Book a table</a>
        </div>
      </div>
    </section>
    <section class="menu-section">
      <div class="section-header">
        <h2>Our Menu</h2>
        <p>the best meals prepared for your nurishment</p>
      </div>

      <ul class="nav-list">
        <li class="nav-item active">Starters</li>
        <li class="nav-item">Main Course</li>
        <li class="nav-item">Desert</li>
        <li class="nav-item">Drinks</li>
      </ul>

      <ul class="product-list">
        <li class="product-card">         
            <div class="product-img">
                <img src="/img/dishes/menu-item-6.png" width="150" alt="">
            </div>
            <div class="product-details">
                <span>lunch</span>
                <div class="pricing">
                    <h4>Burger</h4>
                    <p class="price">$567</p>
                </div>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half"></i>
                    <i class="fa fa-star"></i>
                </div>
                <div class="actions">
                    <button class="btn">BUY NOW</button>
                    <!-- <button><i class="far fa-heart"></i></button> -->
                </div>
            </div>
        </li>
        <li class="product-card">         
            <div class="product-img">
                <img src="/img/dishes/menu-item-6.png" width="150" alt="">
            </div>
            <div class="product-details">
                <span>lunch</span>
                <div class="pricing">
                    <h4>Burger</h4>
                    <p class="price">$567</p>
                </div>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <div class="actions">
                    <button class="btn">BUY NOW</button>
                    <!-- <button><i class="far fa-heart"></i></button> -->
                </div>
            </div>
        </li>
        <li class="product-card">         
            <div class="product-img">
                <img src="/img/dishes/menu-item-6.png" width="150" alt="">
            </div>
            <div class="product-details">
                <span>lunch</span>
                <div class="pricing">
                    <h4>Burger</h4>
                    <p class="price">$567</p>
                </div>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <div class="actions">
                    <button class="btn">BUY NOW</button>
                    <!-- <button><i class="far fa-heart"></i></button> -->
                </div>
            </div>
        </li>
        <li class="product-card">         
            <div class="product-img">
                <img src="/img/dishes/menu-item-6.png" width="150" alt="">
            </div>
            <div class="product-details">
                <span>lunch</span>
                <div class="pricing">
                    <h4>Burger</h4>
                    <p class="price">$567</p>
                </div>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <div class="actions">
                    <button class="btn">BUY NOW</button>
                    <!-- <button><i class="far fa-heart"></i></button> -->
                </div>
            </div>
        </li>
    </ul>
    </section>
    <section class="testimonial-section">
      <div class="section-header">
        <h2>Testionials</h2>
        <p>what our clients say about us</p>
      </div>
      <div class="testimonials">
        <div class="testimonial">
          <div class="testimonial-content">
            <div class=""><i class="fa fa-quote-right"></i></div>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. In quasi
              eius nulla excepturi nam consequuntur repudiandae id! In,
              consectetur,
            </p>
          </div>
          <div class="testifier-details">
            <img src="/img/users/user-1.jpg" alt="" width="50" height="50" />
            <h4 class="name">Dreg Skylar</h4>
            <p class="job">Senior Developer</p>
          </div>
        </div>
        <div class="testimonial">
          <div class="testimonial-content">
            <div class=""><i class="fa fa-quote-right"></i></div>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. In quasi
              eius nulla excepturi nam consequuntur repudiandae id! In,
              consectetur,
            </p>
          </div>
          <div class="testifier-details">
            <img src="/img/users/user-1.jpg" alt="" width="50" height="50" />
            <h4 class="name">Dreg Skylar</h4>
            <p class="job">Senior Developer</p>
          </div>
        </div>
        <div class="testimonial">
          <div class="testimonial-content">
            <div class=""><i class="fa fa-quote-right"></i></div>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. In quasi
              eius nulla excepturi nam consequuntur repudiandae id! In,
              consectetur,
            </p>
          </div>
          <div class="testifier-details">
            <img src="/img/users/user-1.jpg" alt="" width="50" height="50" />
            <h4 class="name">Dreg Skylar</h4>
            <p class="job">Senior Developer</p>
          </div>
        </div>
      </div>
    </section>

    <section class="gallery-section"></section>

    <section class="contact-section">
      <div class="section-header">
        <h2>Get in Touch</h2>
        <p>you can reach us across the various means</p>
      </div>

      <div class="contact-form">
        <form action="">
          <div class="form-group">
            <input
              type="text"
              class="form-input"
              name=""
              placeholder="Your Name"
            />
            <input
              type="email"
              class="form-input"
              name=""
              placeholder="Your Email"
            />
          </div>
          <div class="form-group">
            <input
              type="tel"
              class="form-input"
              name=""
              placeholder="Your Phone Number"
            />
            <input
              type="text"
              class="form-input"
              name=""
              placeholder="Subject"
            />
          </div>
          <div class="form-group">
            <textarea
              class="form-input"
              name=""
              id=""
              cols="80"
              rows="10"
              placeholder="Your Message"
            ></textarea>
          </div>
          <div class="form-group">
            <button>Submit</button>
          </div>
        </form>
        <div class="map">
          <img src="/img/map.jpg" alt="" />
        </div>
      </div>
      <div class="contact-info">
        <div class="info-block">
          <i class="fa fa-envelope"></i>
          <div class="details">
            <h4>Email Us</h4>
            <p>caferoyale@gmail.com</p>
          </div>
        </div>
        <div class="info-block">
          <i class="fa fa-phone"></i>
          <div class="details">
            <h4>Call Us</h4>
            <p>234 906 441 9137</p>
          </div>
        </div>
        <div class="info-block">
          <i class="fa fa-home"></i>
          <div class="details">
            <h4>Opening Hours</h4>
            <p><span>Mon-Sat</span>: 11AM - 23PM</p>
          </div>
        </div>
      </div>
    </section>

    <%- include ('./partials/__footer') %>
    <%- include ('./partials/__end') %>

