<%- include ('./partials/__head') %>

<body>
    <%- include ('./partials/__nav') %>
    <div class="recipes-main">
        <div class="loader"></div>
    </div>

    <%- include ('./partials/__footer') %>

    <%- include ('./partials/__end') %>
