<%- include ('./partials/__head') %>

<body>
    <%- include ('./partials/__nav') %>

    <div class="shop-content">
        <div class="sidebar">
            <input type="search" name="" id="">
            <h5>Tags</h5>
            <ul class="tags">
                <li>breakfast</li>
                <li>lunch</li>
                <li>dinner</li>
                <li>carbonhydrate</li>
                <li>protein</li>
                <li>vitamin</li>
                <li>fat and oil</li>
                <li>drinks</li>
            </ul>
        </div>
        <div class="shop-main">
            <div class="loader"></div>
        </div>
    </div>

    <%- include ('./partials/__footer') %>

    <%- include ('./partials/__end') %>
